body {
    margin: 0;
    background-color: rgb(234, 224, 207);
    direction: rtl;

}
@font-face {
    font-family: iran;
    src: url(../Css/fonts/IRAN\ Kharazmi.woff);
}
.menu {
    background-color: rgb(84, 119, 146);
    padding: 0.7em;
}
.menu a {
    text-decoration: none;
    display: inline-block;
    color: rgb(234, 224, 207);
    padding: 0.5em;
    font-family: iran;
    font-size: 1em;
    cursor: pointer;
}
.menu .right {
    float: left;
    margin-left: 10px;

}
.menu a:hover {
    background-color: black;
    border-radius: 0.3em;
}
.login {
    background-color: rgb(84, 119, 146);
    padding: 1.5em;
    border-radius: 0.4em;
    border: 3px solid rgb(33, 52, 72);
    width: 30%;
    box-sizing: border-box;
}
.login div {

    margin: 0.9em 0;
}
.login input {
    font-family: iran;
    padding: 0.9em;
    border-radius: 0.5em;
    outline: none;
    border: 3px solid rgb(33, 52, 72);
    width: 90%;
}
.login button {
    font-family: iran;
    width: 97%;
    background-color: rgb(148, 180, 193);
    border: 3px solid rgb(33, 52, 72);
    padding: 0.4em;
    color: rgb(234, 224, 207);
    border-radius: 0.5em;
    font-size: 1em;
}
.login::backdrop {
    background-color: rgba(33, 52, 72, 0.721);
}
.blog-body {
    width: 95%;
    margin: 30px auto;
    font-family: iran;
}
.blog-sidebar {
    float: right;
    width: 20%;
    background-color: #213448;
    color: #eae0cf;
    padding: 18px;
    box-sizing: border-box;
    border-radius: 6px;
}
.blog-sidebar h3 {
    border-bottom: 2px solid rgb(234, 224, 207);
    padding-bottom: 8px;
}
.blog-sidebar ul li a {
    color:rgb(234, 224, 207);
    text-decoration: none;
}
.blog-content {
    float: right;
    width: 70%;
    margin-right: 1%;
    margin-left: 2%;
}
.post {
    background-color:rgb(33, 52, 72);
    border: 2px solid #213448;
    border-radius: 6px;
    margin-bottom: 15px;
    padding: 10px;
    overflow: hidden;
}

.post-image {
    float: right;
    width: 30%;
}
.post-image img {
    width: 100%;
    border-radius: 10px;
}
.post-text {
    float: right;
    width: 65%;
    margin-right: 5%;
    color: rgb(234, 224, 207);
}

.post-text h2 {
    margin-top: 0;
    color:rgb(148, 180, 193);
    font-size: 1.1em;
}
.post-text p {
    font-size: 0.9em;
    line-height: 1.8;
}

.site-footer {
    background-color: #1b2a3a;
    color: rgb(234, 224, 207);
    font-family: iran;
    margin-top: 94%;
}
.footer-container {
    width: 90%;
    margin: auto;
    padding: 30px 0;
    overflow: hidden;
}
.footer-col {
    width: 33.33%;
    float: right;
    box-sizing: border-box;
    padding: 10px 20px;
}
.footer-col h3 {
    border-bottom: 5px solid rgb(234, 224, 207);
    padding-bottom: 8px;
    margin-bottom: 12px;
    font-size: 1.1em;
}
.footer-col p {
    font-size: 0.9em;
    line-height: 1.8;
}
.footer-col ul li a {
    color: rgb(234, 224, 207);
    text-decoration: none;
    font-size: 0.9em;
}
.footer-col ul li a:hover {
    color: rgb(148, 180, 193);
}
.footer-bottom {
    background-color: rgb(33, 52, 72);
    text-align: center;
    padding: 12px;
    font-size: 1.1em;
}